:root{

    --textColour:darkslategrey;
    --backgroundColour: #E0FFFF;

}


*{
    font-family: 'Lexend Deca', sans-serif;
    color: var(--textColour);   
}

body{
    background-color: white;
    display:flex;
    flex-direction: column;
    width: 100%;
    height:100%;
    background-color:var(--backgroundColour);
}

h1{
    font-size: 30px;
    font-weight:bold;
}

.parent-col{
    display:flex;
    flex-direction:column ;
    flex: 0 1 100%;
    position: relative;
    padding:0.5rem;
}

.parent-row{
    display:flex;
    flex-direction:row;
    flex: 0 1 100%;
    position: relative;
    padding:0.5rem
}

.p-0{
    padding: 0;
}

.p-s{
    padding:0.3rem;
}

.p-m{
    padding:0.6rem;
}

.p-l{
    padding:1rem;
}

.m-0{
    margin:0;
}

.m-s{
    margin:0.3rem;
}

.m-m{
    margin:0.6rem;
}

.m-l{
    margin:1rem;
}


.justify-content-center{
    justify-content:center;
}

.justify-content-start{
    justify-content: flex-start;
}

.align-items-center{
    align-items: center;
}

.w-100{
    max-width: 100%;
}

.w-25{
    max-width: 75%;
}

.w-25{
    max-width: 50%;
}

.w-25{
    max-width: 25%;
}

.h-100{
    max-height: 100%;
}

.h-90{
    max-height: 90%;
}

.h-75{
    max-height: 75%;
}

.h-50{
    max-height: 50%;
}
.h-25{
    max-height: 25%;
}

.h-10{
    max-height: 10%;
}

aside{
    margin: 0;
}

.heading-search-his{
    padding-left:0;
    padding-top:1rem;
}

#searchBtn{
    margin-left:0;
}